extends layout

block content
  h1= '说明'
  div
    h2= "下载内置在租租车app(<5.2.0)最新超级缓存zip:"
    a(href="http://native-supercache.m.zuzuche.com/super_cache/api/download_all_zip?run=zuzuche") http://native-supercache.m.zuzuche.com/super_cache/api/download_all_zip?run=zuzuche
  div
    h2= "下载内置在租租车5.2.0超级缓存zip:"
    a(href="http://native-supercache.m.zuzuche.com/super_cache/api/download_all_zip?run=zuzuche-520") http://native-supercache.m.zuzuche.com/super_cache/api/download_all_zip?run=zuzuche-520
  div
    h2= "下载探途地图的超级缓存zip:"
    a(href="http://native-supercache.m.zuzuche.com/super_cache/api/download_all_zip?run=tantu") http://native-supercache.m.zuzuche.com/super_cache/api/download_all_zip?run=tantu